.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.php
node_modules
vendor
.DS_Store
.github/**
*.vsix
README.md
.git/**
.gitignore
tsconfig.json